@import "./utils/variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    .logoFooter {
        padding: 50px 0 20px 0;
    }
    .mention{
        font-size: 24px;
        font-weight: 500;
        color: white;
    }
}