.header {
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
    ul {
        display: flex;
        flex-direction: row;
        li {
            margin-right: 10px;
            list-style: none;
        }
    }
}