.homeBanner {
    padding: 0px 50px;
    position : relative;
    text-align: center;
    img {
        width: 100%;
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(35%);
    }
    .homeTitle {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

.gallery {
    padding: 50px;
    .thumbs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 50px;
        border-radius: 25px;
        background: #F6F6F6;
        .thumb {
            position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
        a {
            text-decoration: none;
            color: white;
        }
        h2 {
            position: absolute;
            bottom: 0%;
            left: 5px;
            color: white;
        }
    }
}