@import "./variables.scss";

@media (max-width: $medium) {
    .header {
        padding: 30px 30px;
        .nav {
            font-size: 12px;
            ul {
                li {
                    margin: 0 10px;
                }
            }
        }
        img{
            width: 145px;
            height: auto;
        }
    }

    .homeBanner {
        img {
            height: 111px;
        }
        .homeTitle {
            font-size: 24px;
        }
    }
    .gallery {
        .thumbs {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding: 30px;
            .thumb {
                h2 {
                    font-size: 16px;
                }
            }
        }
    }

    .home, .about, .details {
        padding: 0 20px;
    }

    .carrousel {
        .pictures {
            max-height: 255px;
        }
    }

    .aboutBanner {
        img {
            height: 111px;
        }
    }

    .content {
        padding: 20px 0;
        h2 {
            margin: 10px 0;
        }
    }

    .footer{
        .mention {
        font-size: 12px;
        }
    }
}

@media (min-width: $medium) and (max-width: $large) {
    .header {
        padding: 40px 40px;
        .nav {
            font-size: 22px;
            ul {
                li {
                    margin: 0 15px;
                }
            }
        }
    }

    .homeBanner {
        img {
            height: 180px;
        }
        .homeTitle {
            font-size: 34px;
        }
    }
    .gallery {
        .thumbs {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            padding: 40px;
            .thumb {
                img {
                    border-radius: 8px;
                }
                .overlay {
                    height: 45%;
                }
                h2 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (min-width: $large) {
    .header {
        padding: 50px 50px;
        .nav {
            font-size: 24px;
            ul {
                li {
                    margin: 0 20px;
                }
            }
        }
    }

    .homeBanner {
        img {
            height: 200px;
        }
        .homeTitle {
            font-size: 48px;
        }
    }
    .gallery {
        .thumbs {
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            padding: 50px;
            .thumb {
                img {
                    border-radius: 10px;
                }
                .overlay {
                    height: 50%;
                }
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
}