@import "./variables.scss";

@media (max-width: $medium) {
    .header {
        padding: 20px;
        .logo {
            width: 50%;
        }
        .nav {
            font-size: 12px;
            ul {
                li {
                    margin: 10px;
                }
            }
        }
        img{
            width: 80%;
            height: auto;
        }
    }

    .homeBanner {
        img {
            height: 111px;
            border-radius: 10px;
        }
        .homeTitle {
            font-size: 24px;
            left: 0;
            transform: translate(0%, -50%);
            text-align: start;
            padding: 15px;
            width: 65%;
        }
    }
    .gallery {
        .thumbs {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding: 0;
            background-color: white;
            .thumb {
                height: 255px;
                h2 {
                    font-size: 16px;
                }
            }
        }
    }

    .home, .about, .details {
        padding: 0 20px;
    }

    .carrousel {
        .carrouselNav {
            img {
                width: 24px;
            }
        }
        .pictures {
            max-height: 255px;
        }
        .slide-indicator {
            font-size: 14px;
            top: 200px;
        }
    }

    .Infos {
        display: flex;
        flex-direction: column;
    }
    
    .Infos2 {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .InfosSupp {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: 0 0 40px 0;
        .dropdown {
            width: 100%;
            padding: 0;
            h2 {
            margin: 10px 0;
            }
        }
    }

    .about {
        .dropdown{
            padding: 0;
        }
    }

    .stars {
        img {
            width: 20px;
        }
    }

    .aboutBanner {
        img {
            height: 111px;
            border-radius: 10px;
        }
    }

    .errorBody {
        padding: 0 40px;
        gap: 20px;
        img {
            width: 70%;
            height: auto;
        }
        h1 {
            color: $primary-color;
            font-size: 18px;
        }
        a {
            color: black;
            text-decoration: underline;
            font-size: 14px;
        }
    }

    .footer{
        .mention {
        font-size: 12px;
        width: 100px;
        text-align: center;
        margin-bottom: 50px;
        }
    }
}

@media (min-width: $medium) and (max-width: $large) {
    .header {
        padding: 40px 40px;
        .nav {
            font-size: 22px;
            ul {
                li {
                    margin: 0 15px;
                }
            }
        }
    }

    .homeBanner {
        img {
            height: 180px;
        }
        .homeTitle {
            font-size: 34px;
        }
    }
    .gallery {
        .thumbs {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            padding: 40px;
            .thumb {
                img {
                    border-radius: 8px;
                }
                .overlay {
                    height: 45%;
                }
                h2 {
                    font-size: 18px;
                }
            }
        }
    }
    .Infos2{
        flex-direction: column;
    }
}

@media (min-width: $large) {
    .header {
        padding: 50px 50px;
        .nav {
            font-size: 24px;
            ul {
                li {
                    margin: 0 20px;
                }
            }
        }
    }

    .homeBanner {
        img {
            height: 200px;
        }
        .homeTitle {
            font-size: 48px;
        }
    }
    .gallery {
        .thumbs {
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            padding: 50px;
            .thumb {
                img {
                    border-radius: 10px;
                }
                .overlay {
                    height: 50%;
                }
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
    .Infos2{
        flex-direction: column;
    }
}