@use "./sass/header.scss";
@use "./sass/footer.scss";
@use "./sass/home.scss";
@use "./sass/about.scss";
@use "./sass/details.scss";
@use "./sass/error.scss";

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
    background-color: white;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}