@use "./sass/header.scss";
@use "./sass/footer.scss";
@use "./sass/home.scss";
@use "./sass/about.scss";

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;    
    box-sizing: border-box;
    background-color: white;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 24px;
    font-weight: 500;
}